<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Python Memes</title>
    <head>
    <body>
    <p>Below are some mediocre Computer Science memes. Enjoy!</p>
    <img src="/static/meme1.jpg" width ="200" height="300">
    <img src="/static/meme2.png" width ="200" height="300">
    <img src="/static/meme3.png" width ="200" height="300">
    <img src="/static/meme4.jpg" width ="200" height="300">
    <img src="/static/meme5.jpg" width ="200" height="300">
    </body>
</html>



